.mt-10{
  margin-top:10px;
}

.mt-20{
  margin-top:10px;
}
.mb-10{
  margin-bottom:10px;
}

.mb-20{
  margin-bottom:10px;
}

.is-rounded{
  border-radius: 5px;
}

.has-shadow{
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

.banner-bg{
background: #009FFF;
background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
background: linear-gradient(to right, #ec2F4B, #009FFF);
}

.body-bg{
  background: url('bg.png');
  height: 100vh;
}